<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login_test3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_test3">
        <activity android:name=".Popup"></activity>
        <activity android:name=".Notice" />
        <activity android:name=".item_modify" />
        <activity android:name=".item_detail" />
        <activity android:name=".MycheckActivity" />
        <activity android:name=".item__heart" />
        <activity android:name=".Heart" />
        <activity android:name=".my_writing" />
        <activity android:name=".ChoiceActivity" />
        <activity android:name=".list" />
        <activity android:name=".upload" />
        <activity android:name=".practice" />
        <activity android:name=".diet" />
        <activity android:name=".calendar" />
        <activity android:name=".mypage_a">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mypage_b" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>